.big-title-container .green-btn:hover {
	background: #86ad36
}
.big-title-container .buttons .green-btn {
	color:  !important
}
.big-title-container .red-btn:hover {
	color: #fff !important
}
.big-title-container .green-btn:hover {
	color: #fff !important
}






/*/ #foc =====================================================================/*/
.focus {
	background: rgba(255,255,255,0.96)
}
.focus .section-header h2 {
	color: #1c1c1c
}
.focus .section-header h6 {
	color: #1c1c1c
}
.focus .focus-box h5 {
	color: #0f0f0f
}
.focus .focus-box p {
	color: #111111
}
.focus .focus-box:nth-child(4n+1) .service-icon:hover {
	border: 10px solid #e96656
}
.focus .focus-box:nth-child(4n+1) .red-border-bottom:before {
	background: #e96656
}
.focus .focus-box:nth-child(4n+2) .service-icon:hover {
	border: 10px solid #e96656
}
.focus .focus-box:nth-child(4n+2) .red-border-bottom:before {
	background: #e96656
}
.focus .focus-box:nth-child(4n+3) .service-icon:hover {
	border: 10px solid #e96656
}
.focus .focus-box:nth-child(4n+3) .red-border-bottom:before {
	background: #e96656
}
.focus .focus-box:nth-child(4n+4) .service-icon:hover {
	border: 10px solid #e96656
}
.focus .focus-box:nth-child(4n+4) .red-border-bottom:before {
	background: #e96656
}




/*/ #????????????????======================================================/*/
.works {
	background:
}
.works .section-header h2 {
	color:
}
.works .section-header h6 {
	color:
}
.works .white-text {
	color:
}
.works .red-border-bottom:before {
	background: #e96656 !important;
}
.about-us {
	background: rgba(17,17,17,0.92)
}
.our-clients {
	background: rgba(179,179,179,0.82)
}



/*/ #about-us =================================================================== /*/
.about-us {
	color: #ffffff
}
.about-us p {
	color: #ffffff
}
.about-us .section-header h2, .about-us .section-header h6 {
	color: #ffffff
}
.about-us	.skills input {
	color: #fff !important;
}
.about-us .our-clients .section-footer-title {
	color: #fff !important;
}



/*/ #hww =================================================================== /*/
.our-team {
	background: #efefef
}
.our-team .section-header h2, .our-team .member-details h5 {
	color:
}
.our-team .section-header h6, .our-team .member-details .position {
	color:
}
.our-team .team-member:hover .details {
	color:
}
.our-team .team-member .social-icons ul li a:hover {
	color:
}
.our-team .team-member .social-icons ul li a {
	color:
}
.team-member:hover .details {
	background: #333 !important;
}
.our-team .row > div:nth-child(4n+1) .red-border-bottom:before {
	background: #e96656
}
.our-team .row > div:nth-child(4n+2) .red-border-bottom:before {
	background: #34d293
}
.our-team .row > div:nth-child(4n+3) .red-border-bottom:before {
	background: #3ab0e2
}
.our-team .row > div:nth-child(4n+4) .red-border-bottom:before {
	background: #f7d861
}




/*/ testimonials =========================================================== /*/
.testimonial {
	background: rgba(0,0,0,0.87)
}
.testimonial .section-header h2 {
	color:
}
.testimonial .section-header h6 {
	color:
}
.testimonial .feedback-box .message {
	color: #111111
}
.testimonial .feedback-box .client-info .client-name {
	color: #110606
}
.testimonial .feedback-box .quote {
	color: #e96656
}
.testimonial .feedback-box {
	background: #dbdbdb !important;
}




/*/ testimonials =========================================================== /*/
.separator-one {
	background: rgba(62,186,46,0.8)
}
.separator-one h3 {
	color: #ffffff !important;
}
.separator-one .green-btn {
	background: #e2492b
}
.separator-one .green-btn:hover {
	background:
}
.separator-one .green-btn {
	color: #fff !important;
}
.separator-one .green-btn:hover {
	color: #fff !important;
}
.purchase-now {
	background: #86ad36
}
.purchase-now h3 {
	color:
}
.purchase-now .red-btn {
	background: #db5a4a !important
}
.purchase-now .red-btn:hover {
	background: #bf3928 !important
}
.purchase-now .red-btn {
	color: #fff !important;
}
.purchase-now .red-btn:hover {
	color: #fff !important;
}
.contact-us {
	background: rgba(0,0,0,0.91)
}
.contact-us .section-header h2 {
	color:
}
.contact-us .section-header h6 {
	color:
}
.contact-us button {
	background:
}
.contact-us button:hover {
	background:  !important;
	box-shadow: none;
}
.contact-us button, .pirate_forms .pirate-forms-submit-button {
	color:  !important;
}
.contact-us button:hover, .pirate_forms .pirate-forms-submit-button:hover {
	color: #fff !important;
}
.packages .section-header h2, .packages .section-header h6 {
	color:
}
.packages .package-header h5,.best-value .package-header h4,.best-value .package-header .meta-text {
	color:
}
.packages .package ul li, .packages .price .price-meta {
	color:
}
.packages .package .custom-button {
	color:  !important;
}
.packages .dark-bg {
	background: ;
}
.packages .price h4 {
	color: ;
}
.packages {
	background: rgba(0, 0, 0, 0.5)
}
#latestnews {
	background: #fff
}
#latestnews .section-header h2 {
	color: #404040
}
#latestnews .section-header h6 {
	color: #808080
}
section#subscribe {
	background: rgba(0, 0, 0, 0.5) !important;
}
section#subscribe h3, .newsletter .sub-heading, .newsletter label {
	color:  !important;
}
section#subscribe input[type="submit"] {
	color:  !Important;
}
section#subscribe input[type="submit"] {
	background:  !important;
}
section#subscribe input[type="submit"]:hover {
	background:  !important;
}
#footer {
	background:
}
.copyright {
	background:
}
#footer .company-details, #footer .company-details a {
	color:
}
#footer .social li a {
	color:
}
#footer .social li a:hover {
	color:
}
.comment-form #submit, .comment-reply-link,.woocommerce .add_to_cart_button, .    script(src='./js/bootstrap.min.js?ver=20120206')
