doctype html
html(lang='ru-RU')
  head
    //- {{{
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='./xmlrpc.php')
    //
      if lt IE 9script(src='./js/html6.js')
      link(rel='stylesheet', href='./css/ie.css', type='text/css')
    title Купить рулонные шторы в Перми от 499 руб.
    meta(name='description', content='Заказать качественные рулонные шторы в Перми по низким ценам от производителя. Бесплатный замер, доставка от 3 000 руб. бесплатно. Рулонная штора Мини, Уни')
    meta(name='Keywords', content='рулонные шторы, купить рулонные шторы в Перми')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link#zerif_bootstrap_style-css(rel='stylesheet', href='./css/bootstrap.min.css?ver=4.4.2', type='text/css', media='all')
    link#zerif_style-css(rel='stylesheet', href='./css/style.css?ver=v1', type='text/css', media='all')

    //- Background
    style(src='css/background.css')

    //- jQuery
    script(src='./js/jquery.js?ver=1.11.3')
    script(src='./js/jquery-migrate.min.js?ver=1.2.1')
    //- }}}
    
  body.home.blog(itemscope='itemscope', itemtype='http://schema.org/WebPage').zerif_full_site_wrap
      // background {{{
      .fadein-slider
        .slide-item.bg-responsive(data-type="background")

      style.
        .fadein-slider > .slide-item {
              background-image: url('./images/page_bg.jpg');
              background-repeat: repeat-y;
              background-position: left top;
              background-size: 100% auto;
            }
      // }}}
      .zerif_full_site
        header#home.header(itemscope='itemscope', itemtype='http://schema.org/WPHeader', role='banner')
          //- Nav_Bar {{{
          #main-nav.navbar.navbar-inverse.bs-docs-nav
            .container
              .navbar-header.responsive-logo
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='./')
                  img(src='./images/logo.png', alt='Профкарниз')
              nav#site-navigation.navbar-collapse.bs-navbar-collapse.collapse(role='navigation', itemscope='itemscope', itemtype='http://schema.org/SiteNavigationElement')
                ul#menu-menuname.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
                  li#SiteNavigationElement
                  li#menu-item-25.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-25
                    a(href='http://profkarniz.com/index/0-3')
                      h2 +7 960 524 18 78
                  li#menu-item-26.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-25
                    a(href='http://profkarniz.com/index/0-3') Контакты Пермь
                  li#menu-item-25.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-26
                    a(href='http://profkarniz.com/shop/rulonnye-shtory') Купить онлайн
                  li#menu-item-27.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-27
                    a(href='http://profkarniz.com/index/0-5') Вызвать замерщика
          //- end_Nav_Bar }}}
          //- First_Glance {{{
          .home-header-wrap
            .header-content-wrap
              .container.big-title-container
                h1.intro-text Рулонные шторы в Перми от 499 руб.
                .buttons
                  a.btn.btn-lg.btn-primary.custom-button.red-btn(href='http://profkarniz.com/index/0-5')
                    | Заказать бесплатный замер
                  a.btn.btn-lg.btn-primary.custom-button.green-btn(href='#calculator')
                    | Рассчитать цены штор для вашего окна
            .clear
          //- end_First_Glance }}}
        #content.site-content.zerif-fp-site-content
          section#aboutus.about-us
            //- Advantages {{{
            .container
              //- Header Advantages {{{
              .row.section-header
                .col-lg-12.text-center
                  h2.section-heading
                    | Наши приемущества
              //- end_Header Advantage }}}
              .row.advantages-list
                hr.primary
                //- Bullet_1 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.green-text.fa-gears.wow.bounceIn.text-primary
                    h3 
                      br
                      | Собственное производство 
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted
                      | Изготовим под заказ любых размеров и цветов - быстро, гибко, по демократичной цене
                    br
                    br
                //- end_Bullet_1 Advantages }}}
                //- Bullet_2 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.red-text.fa-arrows.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 
                      br
                      | Бесплатный выезд на замеры
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted
                      | Замерщик приедет в удобное время с каталогами, поможет сделать выбор и измерит окна
                    br
                    br
                //- end_Bullet_2 Advantages }}}
                //- Bullet_3 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.green-text.fa-tags.wow.bounceIn.text-primary
                    h3 
                      br
                      | Низкие цены, акции
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted
                      | Нашли дешевле? Позвоните нам, мы сделаем скидку больше, чем конкуренты:)
                    br
                    br
                //- end_Bullet_3 Advantages }}}
                //- Bullet_4 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.red-text.fa-clock-o.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 
                      br
                      | Быстрое время выполнения заказа
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted
                      | За счет собственного производства, соберем рулонную штору по Вашим размерам за 1-2 дня
                    br
                    br
                //- end_Bullet_4 Advantages }}}
                //- Bullet_5 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.green-text.fa-thumbs-up.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 
                      br
                      | Качественные комплектующие
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted
                      | Мы искользуем комплектующие производства Польша и ткань Европейских марок
                    br
                    br
                //- end_Bullet_5 Advantages }}}
                //- Bullet_6 Advantages {{{
                .col-xs-12.col-sm-6.col-md-4.text-center
                    i.fa.fa-4x.red-text.fa-university.wow.bounceIn.text-primary(data-wow-delay='.1s')
                    h3 
                      br
                      | Гибкая система скидок для юр. лиц и дизайнеров
                    hr.green-text.green-bg(style="margin-bottom: 20px;")
                    p.text-muted 
                      | У Вас крупный заказ? Мы с радостью предложим особые условия сотрудничества.
                    br
                    br
                //- end_Bullet_6 Advantages }}}
            //- end_Advantages }}}
          section#clients.our-clients
            //- Clients {{{
            .container
              //- Header Clients {{{
              .section-header
                h3.dark-text
                  | Наши клиенты
              //- end_Header Clients }}}
              .client-list(data-scrollreveal='enter right move 60px after 0.00s over 0.25s').row
                  //- Client_1 {{{
                  .col-xs-6.col-sm-3
                    a(href='http://pstu.ru/')
                    img(src='./images/client_pnipu.png', alt='ПНИПУ')
                  //- end_Client_1 }}}
                  //- Client_2 {{{
                  .col-xs-6.col-sm-3
                    a(href='https://megafon.ru/')
                    img(src='./images/client_megafon.png', alt='Мегафон')
                  //- end_Client_2 }}}
                  //- Client_3 {{{
                  .col-xs-6.col-sm-3
                    a(href='http://alendvic.ru/')
                    img(src='./images/client_alendvik.png', alt='Алендвик')
                  //- end_Client_3 }}}
                  //- Client_4 {{{
                  .col-xs-6.col-sm-3
                    a(href='https://www.sberbank.ru/')
                    img(src='./images/client_sber.png', alt='Сбербанк')
                  //- end_Client_4 }}}
            //- end_Clients }}}
            
          //- section#team.our-team
            // How We work {{{
            .container
              .section-header
                h2.dark-text.red-border-bottom
                  | Как мы работаем?
                h6
                  | Быстро, качественно, индивидуально
                .row
                  hr.primary
                .row
                  .col-lg-4.col-sm-4.team-member
                    .newshit
                      a(target='_self', href='./')
                        i.fa.fa-arrows.fa-4x
                        h5 Бесплатный выезд на замер.
                    // p Замерщик приедет к Вам домой с каталогами ткани для рулонных штор в удобное для Вас время
                  .col-lg-4.col-sm-4.team-member
                    .newshit
                      a(target='_self', href='./')
                        i.fa.fa-clock-o.fa-4x
                        h5 Производство 1-2 дня.
                    // p Мы изготовим рулонные шторы по Вашим размерам.
                  .col-lg-4.col-sm-4.team-member
                    .newshit
                      a(target='_self', href='./')
                        i.fa.fa-thumbs-up.fa-4x
                        h5 Профессиональный монтаж
                    // p Профессиональный работник установит рулонные шторы за 300 руб./изделие
        
            // }}}

          section#calculator.packages
            // {{{
            .container-fluid.green-transp-bg.center-block
              .row
                .col-xs-12.section-header.white-text
                  br
                  h2
                    | калькулятор
                  br

            .container
              .row
                //- mount_opts {{{
                .col-xs-12
                  h3.white-text
                    br
                    hr
                    |  Выберите вариант крепления
                    hr
                    br
                  #tabs-433998.tabbable
                    ul.nav.nav-pills.nav-justified.row
                      //- Tabs Mount_Opts {{{
                      li.active.col-xs-4
                        a(href='#mountOne', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel
                              | На створки
                          span
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')
                      li.col-xs-4
                        a(href='#mountTwo', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel
                              | В проем 
                          span
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')
                      li.col-xs-4
                        a(href='#mountThree', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel
                              | На проем 
                          span
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')
                      //- Tabs Mount_Opts }}}
                    .tab-content
                      #mountOne.tab-pane(role='tabpanel').active
                        //- Count_Panes {{{
                        br
                        br
                        br
                        .row
                          .col-xs-12
                            br
                            br
                            h3.white-text
                              | Выберите число створок
                        .btn-group(data-toggle="buttons")#winLenB
                          .row
                            .col-xs-3
                              .btn.btn-default.btn-block.btn-lg.text-center.active#win1b
                                span.label.label-success.calcuLabel
                                  | Одна
                                span  
                                  img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                                  .sr-only
                                    input#win1x(type="radio", name="winLen", value=1, autocomplete="off", checked="")
                              
                            .col-xs-3
                              .btn.btn-default.btn-block.btn-lg.text-centera#win2b
                                span.label.label-success.calcuLabel
                                  | Две
                                span  
                                  img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                                  .sr-only
                                    input#win2x(type="radio", name="winLen", value=2, autocomplete="off")
                              
                            .col-xs-3
                              .btn.btn-default.btn-block.btn-lg.text-center#win3b
                                span.label.label-success.calcuLabel
                                  | Три
                                span  
                                  img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                                  .sr-only
                                    input#win3x(type="radio", name="winLen", value=3, autocomplete="off")
                              
                            .col-xs-3
                              .btn.btn-default.btn-block.btn-lg.text-center#win4b
                                span.label.label-success.calcuLabel
                                  | Четыре или больше 
                                span  
                                  img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                                  .sr-only
                                    input#win4x(type="radio", name="winLen", value=4, autocomplete="off")
                        br
                        br
                        br
                        //- }}}
                      #mountTwo.tab-pane(role='tabpanel')
                        hr.white-text
                      #mountThree.tab-pane(role='tabpanel')
                        hr.white-text
                //- end_Mount_Opts }}}
              //- Measure_Panes {{{
              .row
                //- Visuals Measure_Panes {{{
                .showOnMnt1
                  //- How_to_Measure {{{
                  .col-xs-12
                    h3.white-text
                      | Укажите высоту и ширину створок
                  //- end_How_to_Measure }}}
                .showOnMnt2.showOnMnt3
                  //- Thou_Shall_Not_Count {{{
                  .col-xs-12
                    h3.white-text
                      | Укажите ширину и высоту оконного проема
                  //- end_Thou_Shall_Not_Count }}}
                //- Visuals Measure_Panes }}}
              .row
                //- Height {{{
                .col-xs-12.col-sm-6
                  howto_advise.center-block
                    //- Picture_Text Height {{{
                    .showOnMnt1
                      span
                        img.img-fluid.img-responsive(alt='how to measure height', src='images/measure_height.png')
                    .showOnMnt2.showOnMnt3
                      span.center-block
                        p.clarifyingReminder.center-block
                    //- end_Picture_Text Height }}}
                .col-xs-12.col-sm-6
                  .measurements_area
                    .showOn_SinglePane
                      //- SinglePane Height {{{
                      .panel.panel-default.measurements_panel
                        .panel-heading
                          .showOnMnt1
                            h3.winMeasureLabel
                              | Высота окна:
                          .showOnMnt2.showOnMnt3
                            h3.winMeasureLabel
                              | Высота проема:
                        .panel-body
                          .input-group
                            span.input-group-addon
                              .fa-winPane1
                                span.fa.fa-stack.fa-fw
                                  i.fa.fa-square.fa-stack-2x
                                  i.fa.fa-arrows-v.fa-stack-1x.fa-inverse
                            span.input-group.input-group-lg
                              input.form-control.height_1(type='number', name='height1_' min=50, max=300, placeholder=120)
                            span.input-group-addon
                              | mm
                      //- end_SinglePane Heigh }}}
                //- end_Height }}}
                //- Width {{{
                .col-xs-12.col-sm-6
                  .howto_advise.center-block
                    //- Picture_Text Width {{{
                    .showOnMnt1
                      span
                        img.img-fluid.img-responsive(alt='how to measure width', src='images/measure_width.png')
                    .showOnMnt2.showOnMnt3
                      span.center-block
                        p.clarifyingReminder.center-block
                    //- end_Picture_Text Width }}}
                .col-xs-12.col-sm-6
                  .measurements_area
                    .showOn_SinglePane
                      //- SinglePane Width {{{
                      .panel.panel-default.measurements_panel
                        .panel-heading
                          .showOnMnt1
                            h3.winMeasureLabel
                              | Ширина окна:
                          .showOnMnt2.showOnMnt3
                            h3.winMeasureLabel
                              | Ширина проема:
                        .panel-body
                          .input-group
                            span.input-group-addon
                              .fa-winPane1
                                span.fa.fa-stack.fa-fw
                                  i.fa.fa-square.fa-stack-2x
                                  i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                            span.input-group.input-group-lg
                              input.form-control.width_1(type='number', name='width_1', min=50 ,max=300, placeholder=120)
                            span.input-group-addon
                              | mm
                      //- end_SinglePane Width }}}
                    .showOn_DoublePane
                      //- DoublePane Width {{{
                      .panel.panel-default.multipannel_wrapper_pannel
                        .panel-body
                          //- left_DoublePane Width {{{
                          .panel.panel-default.measurements_panel
                            .panel-heading
                              h3.winMeasureLabel
                                | LEFT_PANE_WIDTH
                            .panel-body
                              .input-group
                                span.input-group-addon
                                  .fa-winPane2
                                    span.fa.fa-stack.fa-fw
                                      span.fa.fa-stack.fa-fw
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                                      i.fa.fa-square-o.fa-2x
                                span.input-group.input-group-lg
                                  input.form-control.width_1(type='number', name='width_1', min=50 ,max=300, placeholder=120)
                                span.input-group-addon
                                  | mm
                          //- end_left_DoublePane Width }}}
                          //- right_DoublePane Width {{{
                          .panel.panel-default.measurements_panel
                            .panel-heading
                              h3.winMeasureLabel
                                | RIGHT_PANE_WIDTH
                            
                            .panel-body
                              .input-group
                                span.input-group-addon
                                  .fa-winPane2
                                    span.fa.fa-stack.fa-fw
                                      i.fa.fa-square-o.fa-2x
                                      span.fa.fa-stack.fa-fw
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                                span.input-group.input-group-lg
                                  input.form-control.width_2(type='number', name='width_2', min=50 ,max=300, placeholder=120)
                                span.input-group-addon
                                  | mm
                          //- end_right_DoublePane Width }}}
                      //- end_DoublePane Width }}}
                    .showOn_TriplePane
                      //- TriplePane Width {{{
                      .panel.panel-default.multipannel_wrapper_pannel
                        .panel-body
                          //- left___TriplePane Width {{{
                          .panel.panel-default.measurements_panel
                            .panel-heading
                              h3.winMeasureLabel
                                | LEFT_PANE_WIDTH
                            .panel-body
                              .input-group
                                span.input-group-addon
                                  .fa-winPane2
                                    span.fa.fa-stack.fa-fw
                                      span.fa.fa-stack.fa-fw
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                                      i.fa.fa-square-o.fa-2x
                                span.input-group.input-group-lg
                                  input.form-control.width_1(type='number', name='width_1', min=50 ,max=300, placeholder=120)
                                span.input-group-addon
                                  | mm
                          //- end_left_TriplePane Width }}}
                          //- middle_TriplePane Width {{{
                          .panel.panel-default.measurements_panel
                            .panel-heading
                              h3.winMeasureLabel
                                | MIDDLE_PANE_WIDTH
                            .panel-body
                              .input-group
                                span.input-group-addon
                                  .fa-winPane2
                                    span.fa.fa-stack.fa-fw
                                      span.fa.fa-stack.fa-fw
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                                      i.fa.fa-square-o.fa-2x
                                span.input-group.input-group-lg
                                  input.form-control.width_1(type='number', name='width_1', min=50 ,max=300, placeholder=120)
                                span.input-group-addon
                                  | mm
                          //- end_middle_TriplePane Width }}}
                          //- right__TriplePane Width {{{
                          .panel.panel-default.measurements_panel
                            .panel-heading
                              h3.winMeasureLabel
                                | RIGHT_PANE_WIDTH
                            
                            .panel-body
                              .input-group
                                span.input-group-addon
                                  .fa-winPane2
                                    span.fa.fa-stack.fa-fw
                                      i.fa.fa-square-o.fa-2x
                                      span.fa.fa-stack.fa-fw
                                        i.fa.fa-square.fa-stack-2x
                                        i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                                span.input-group.input-group-lg
                                  input.form-control.width_2(type='number', name='width_2', min=50 ,max=300, placeholder=120)
                                span.input-group-addon
                                  | mm
                          //- end_right_TriplePane Width }}}
                      //- end_TriplePane Width }}}
                //- end_Width}}}
              //- end_Meaure_Panes }}}
              //- PriceTable {{{
              .row
                //- Heading PriceTable {{{
                .col-xs-12
                  br
                  br
                  h3.white-text
                    | Выберите тип рулонных штор и категорию ткани 
                //- end_Heading PriceTable }}}
                //- Column_Lite {{{
                .col-xs-12.col-sm-6.col-md-3 
                  .panel.panel-default
                    .panel-body
                      h6
                        span.label.label-pill.label-success.center-block
                          | Лайт
                      span
                        img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                      br
                      
                      .panel.panel-primary.theFirstPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 1
                        .panel-body
                            .row
                              h.col-xs-6.thePriceItself#Price_1_1_1
                                
                              .col-xs-6.showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theSecondPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 2
                        .panel-body
                            .row
                              h.col-xs-6.thePriceItself#Price_1_1_2
                                  
                              .col-xs-6.showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theThirdPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Ткань "Зебра"
                        .panel-body
                            .row
                              h.col-xs-6.thePriceItself#Price_1_1_3
                                  
                              .col-xs-6.showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      

                //- end_Column_Lite }}}
                //- Column_Mini {{{
                .col-xs-12.col-sm-6.col-md-3
                  .panel.panel-default
                    .panel-body.center-block
                      h6
                        span.label.label-pill.label-success.center-block
                          | Мини
                      span
                        img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                      br
                      
                      .panel.panel-primary.theFirstPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 1
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_2_1
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theSecondPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 2
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_2_2
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theThirdPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Ткань "Зебра"
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_2_3
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      

                //- end_Column_Mini }}}
                //- Column_Uni {{{
                .col-xs-12.col-sm-6.col-md-3
                  .panel.panel-default
                    .panel-body
                      h6
                        span.label.label-pill.label-success.center-block
                          | Уни
                      span
                        img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                      br
                      
                      .panel.panel-primary.theFirstPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 1
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_3_1
                                  
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theSecondPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 2
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_3_2
                                  
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theThirdPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Ткань "Зебра"
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_3_3
                                  
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      

                //- end_Column_Uni }}}
                //- Column_Lux {{{
                .col-xs-12.col-sm-6.col-md-3
                  .panel.panel-default
                    .panel-body
                      h6
                        span.label.label-pill.label-success.center-block
                          | Люкс
                      span
                        img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                      br
                      
                      .panel.panel-primary.theFirstPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 1
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_4_1
                                | -  
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theSecondPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Категория 2
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_4_2
                                | -
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                      
                      
                      .panel.panel-default.theThirdPriceTag
                        .panel-heading
                          .priceTagLabel
                            | Ткань "Зебра"
                        .panel-body.container-fluid
                          .row
                            .col-xs-6
                              h.thePriceItself#Price_1_4_3
                                | -
                            .col-xs-6
                              .showFabricLink
                                a(alt="", href="")
                                  p
                                    | Показать ткани
                //- end_Column_Lux }}}
              //- end_PriceTable }}}
          section#infos.infos
            // Types {{{
            .container
              .section-header
                // Header Types {{{
                h2.dark-text
                  | Виды систем
                hr.primary
                h6 Выберите, какая рулонная штора Вам подходит
                // end_Header Types }}}
              .row
                // Info_Lite Types {{{
                .col-lg-3.col-md-6.col-sm-12.infos-box(data-scrollreveal='enter right after 0.15s over 1s')
                  .service-icon
                    img(alt='Lite', url='./images/types1.png')
                  h5.red-border-bottom
                    | Лайт
                  p.sizelimitations
                    | Ширина: 40 - 180 см
                    br
                    |  Длина: до 160 см
                    details
                      summary Показать описание...
                      | Недорогой вариант рулонных штор с пластиковым механизом и отвесом ПВХ, зашитым в ткань. В комплекте роллторы подъемный механизм, заглушки, кронштейны и зацепы на пластиковое окно. Длина регулируется с помощью цепи управления.  Управление — справа. Эти рулонные шторы можно 
                      a(href='http://profkarniz.com/shop/rulonnye-shtory', target='_blank') купить онлайн без замеров
                // end_Info_Lite Types }}}
                // Info_Mini Types {{{
                .col-lg-3.col-md-6.col-sm-12.infos-box(data-scrollreveal='enter right after 0.15s over 1s')
                  .service-icon
                    img(alt='Lite', url='./images/types2.png')
                  h5.red-border-bottom
                    | Мини
                  p.sizelimitations
                    | Ширина: 40 - 140 см
                    br
                    |  Длина: 50 - 200 см
                    details
                      summary Показать описание...
                      | Роллшторы системы МИНИ в большинстве случаев крепятся на створку окна. Сверху механизм с трубой, на которую наматывается ткань, крепится на пластиковое окно с помощью специального двухстороннего скотча или пластмасовых кронштейнов. Внизу шторы — металлический отвес. Чтобы рулонная штора плотно прилегала к окну, используют магниты или леску.
                // end_Info_Mini Types }}}
                // Info_Uni Types {{{
                .col-lg-3.col-md-6.col-sm-12.infos-box(data-scrollreveal='enter left after 0.15s over 1s')
                  .service-icon
                    img(alt='Lite', url='./images/types3.png')
                  h5.red-border-bottom
                    | Уни 
                  p.sizelimitations
                    | Ширина: 40 - 140 см 
                    br
                    |  Длина: 50 - 200 см
                    details
                      summary Показать описание...
                      | Эта система также называется кассетной. Сверху на рулон крепится специальный металлический короб, который защищает ткань от пыли. Металлические направляющие плотно прилягают к окну, позволяя полностью защититься от солнца.  Выделяют две системы: Уни-1 и Уни-2 (в Уни-2 высота направляющих и короба больше).
                // end_Info_Uni Types }}}
                // Info_Lux Types {{{
                .col-lg-3.col-md-6.col-sm-12.infos-box(data-scrollreveal='enter left after 0.15s over 1s')
                  .service-icon
                    img(alt='Lite', url='./images/types4.png')
                  h5.red-border-bottom
                    | Люкс
                  p.sizelimitations
                    | Ширина: 50 - 300 см 
                    br
                    |  Длина: 100 - 300 см
                    details
                      summary Показать описание...
                      | Эта система похожа на Мини, но ширина и длина Люкса может достигать 3-х метров. Такие рулонные шторы иногда еще называются классическими. Обычно крепятся на проем или в проем окна. Кроме того, на эту систему возможно установить моторизацию (электрический привод с пультом), позволяя автоматически регулировать длину шторы на окне.
                style.
                  background:url(./images/types4.png) no-repeat center;
                // end_Info_Lux Types }}}
            // end_Types }}}
          section#team.our-team
            // {{{
            .container
              .section-header
                h2.dark-text
                  | Наше портфолио 
                hr.primary
                br
                br

                h6 Руллонные шторы Мини, Уни, Люкс, Зебра, Рулонные шторы с фотопечатью
                section#portfolio.no-padding
                  // {{{
                  .container-fluid
                    .row.no-gutter
                      
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/1.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded
                                |  
                              .project-name
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/2.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded 
                                | Рулонные шторы Уни с фотопечатью
                              .project-name
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/3.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded 
                                | Рулонные шторы Уни с фотопечатью
                              .project-name
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/4.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded 
                                | Рулонные шторы Мини на створки
                              .project-name
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/5.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded 
                                | Рулонная штора Люкс в оконный проем
                              .project-name
                      .col-lg-4.col-sm-6
                        .portfolio-box.center-block
                          span
                              img.img-fluid.center-block.img-rounded.img-responsive(src='images/portfolio/6.jpg', alt='')
                          .portfolio-box-caption
                            .portfolio-box-caption-content
                              .project-category.text-faded 
                                | Рулонная штора Уни Зебра
                  // }}}
            // }}}
          section#pricingtable.packages
            // {{{
            .container
              .section-header
                h2.white-text
                  | Закажите замеры/установку
              .row
                .package-box-wrap.col-lg-6.col-md-6.col-sm-12
                  .best-value
                    .package(data-scrollreveal='enter left after 0s over 1s')
                      .package-header(style='background:#db5959')
                        h4 Заказать замеры
                        .meta-text В удобное для Вас время
                      .price.dark-bg
                        .price-container
                          h4 бесплатно
                      ul
                        li Покажет каталоги тканей
                        li Посоветует тип рулонной шторы
                        li Измерит окна
                        li Расчитает точную стоимость
                      a.btn.btn-primary.custom-button(href='http://profkarniz.com/index/0-5', style='background:#db5959') Заказать
                .package-box-wrap.col-lg-6.col-md-6.col-sm-12
                  .best-value
                    .package(data-scrollreveal='enter left after 0s over 1s')
                      .package-header(style='background:#43db5a')
                        h4 Установка рулонных штор
                        .meta-text В удобное для Вас время
                      .price.dark-bg
                        .price-container
                          h4 от 300 руб.
                          span.price-meta /изделие 
                      ul
                        li Мини без фиксации - 300 руб./изделие
                        li Уни -1, Уни - 2 - 500 руб./изделие
                        li Мини с фиксацией - 500 руб./изделие
                        li Люкс, Зебра - 500 руб.
                      a.btn.btn-primary.custom-button(href='http://profkarniz.com/index/0-5', style='background:#43db5a') Заказать
              // }}}
          section#ribbon_right.purchase-now
            // {{{
            .container
              .row
                .col-md-9.zerif-rtl-ribbon-text(data-scrollreveal='enter left after 0s over 1s')
                  h3.white-text Купить готовые рулонные шторы онлайн от 499 руб. 
                .col-md-3.zerif-rtl-ribbon-btn(data-scrollreveal='enter right after 0s over 1s')
                  a.btn.btn-primary.custom-button.red-btn(href='http://profkarniz.com/shop/rulonnye-shtory') Купить онлайн
            // }}}
          section#testimonials.testimonial
            // {{{
            .container
              .section-header
                h2.white-text
                  | Отзывы о нашей работе
                h6.white-text
                  | Из Яндекс Маркета
              .row(data-scrollreveal='enter right after 0s over 1s')
                .col-md-12
                  #client-feedbacks.owl-carousel.owl-theme
                    aside#zerif_testim-widget-1.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Убедилась, как удобно заказать и получить услугу по интернету. Онлайн выбрала ткань, механизм рулонных штор, вызвала замерщика. Так оформила 5 окон. Особенно чудесно смотрится на солнечной стороне оранжевая немецкая ткань (проницаемость 86%). Всем советую!
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Лобашкова Ирина
                            .client-company
                          .client-image.hidden-xs
                        // / END CLIENT INFORMATION
                      // / END SINGLE FEEDBACK BOX
                    aside#zerif_testim-widget-2.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Очень хорошая организация сайта магазина, тщательное сопровождение заказа на всех этапах, соблюдение сроков изготовления и установки, вежливые, приятные сотрудники.
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Анастасия
                            .client-company
                          .client-image.hidden-xs
                        // / END CLIENT INFORMATION
                      // / END SINGLE FEEDBACK BOX
                    aside#zerif_testim-widget-3.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Заказывал рулонные шторы в офис. Замерщик прибыл точно в срок с каталогами. Вместе с ним просчитали несколько вариантов стоимости заказа, в зависимости от категории тканей и механизмов. Через назначенные сроки все было установлено.
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Александр
                            .client-company
                          .client-image.hidden-xs
            // }}}
          section#contact.contact-us
            // Call us {{{
            .container.color-overlay
              .section-header
                h2.white-text Остались вопросы? 
                br
                br
                h6(style='font-size:36px').white-text.muted Позвоните нам! 
                br
                h6(style='font-size:38px')
                  i.fa.fa-phone.green-text
                  |    +7 960-524-18-78
                  br
                  i.fa.fa-phone.green-text
                  |    +7 (908) 278-19-07
                  br
            // }}}
          section#ribbon_bottom.separator-one
            // Or rder consultation {{{
            .color-overlay
              h3.container.text(data-scrollreveal='enter left after 0s over 1s')
                | Или оставьте заявку на консультацию 
                | (она ни к чему Вас не обязывает)
            // }}}
          section#map
            // {{{
            iframe.zerif_google_map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1057.0842766513183!2d56.22301686146444!3d58.00191407572968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2804971caf167dd3!2z0J_RgNC-0YTQmtCw0YDQvdC40Lc!5e0!3m2!1sen!2sus!4v1457709856623', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')          
            // }}}
          //}}}
        footer#footer(role='contentinfo', itemscope='itemscope', itemtype='http://schema.org/WPFooter')
          // {{{
          .container
            .footer-box-wrap
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.red-text
                  i.fa.fa-map-marker
                | Компания ПрофКарниз
                | Пермь, Пушкина 104 лит АБ
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.green-text
                  i.fa.fa-envelope
                a(href='mailto:info@profkarniz.com') info@profkarniz.com
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.blue-text
                  i.fa.fa-phone
                a(href='tel:+7 960 524 18 78')
                  | +7 960 524 18 78
                  br
              .col-md-3.footer-box.four-cell.copyright
                p
                  | ©ПрофКарниз 
                  br
                  |  ИП Новиков Алексей Олегович
      
          // }}}
      // Links after page {{{
      link(href='./css/outline.css', type='text/css', media='all')
      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/zerif.js?ver=20120206')
      script(src='js/scripts.js')
      script(src='js/reklk.js')
      // .zerif-mobile-bg-helper-content
      // .zerif-mobile-bg-helper-wrap-all
      // }}}

      // vim:foldmethod=marker:foldlevel=0:nowrap
