doctype html
html(lang='ru-RU')
  head
    //- {{{
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='profile', href='http://gmpg.org/xfn/11')
    link(rel='pingback', href='./xmlrpc.php')
    //
      if lt IE 9script(src='./js/html6.js')
      link(rel='stylesheet', href='./css/ie.css', type='text/css')
    title Купить рулонные шторы в Перми от 499 руб.
    meta(name='description', content='Заказать качественные рулонные шторы в Перми по низким ценам от производителя. Бесплатный замер, доставка от 3 000 руб. бесплатно. Рулонная штора Мини, Уни')
    meta(name='Keywords', content='рулонные шторы, купить рулонные шторы в Перми')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link#zerif_bootstrap_style-css(rel='stylesheet', href='./css/bootstrap.min.css?ver=4.4.2', type='text/css', media='all')
    link#zerif_style-css(rel='stylesheet', href='./css/style.css?ver=v1', type='text/css', media='all')

    //- Background
    style(src='css/background.css')

    //- jQuery
    script(src='./js/jquery.js?ver=1.11.3')
    script(src='./js/jquery-migrate.min.js?ver=1.2.1')

  body.home.blog(itemscope='itemscope', itemtype='http://schema.org/WebPage').zerif_full_site_wrap
      // background {{{
      .fadein-slider
        .slide-item.bg-responsive(data-type="background")

      style.
        .fadein-slider > .slide-item {
              background-image: url('./images/page_bg.png');
              background-repeat: repeat-y;
              background-position: left top;
              background-size: 100% auto;
            }
      // }}}
      .zerif_full_site
        header#home.header(itemscope='itemscope', role='banner')
          //- Nav_Bar {{{
          #main-nav.navbar.navbar-inverse.bs-docs-nav
            .container
              .navbar-header.responsive-logo
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand#theLogo(href='http://profkarniz.com')
                  img(src='./images/logo.png', alt='Профкарниз')
              nav#site-navigation.navbar-collapse.bs-navbar-collapse.collapse(role='navigation', itemscope='itemscope', itemtype='http://schema.org/SiteNavigationElement')
                ul#menu-menuname.nav.navbar-nav.navbar-right.responsive-nav.main-nav-list
                  li.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-25
                    a(href='tel:+79605241878')
                      h5.red-text
                        | +7 (960) 524-18-78
                  li#menu-item-1.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-24
                    a(href='',data-toggle='modal', data-target='#GetACallModal')
                      .red-text
                        | Заказать звонок
                  li#menu-item-4.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-27
                    a(href='',data-toggle='modal', data-target='#MeasureManModal')
                      | Вызвать замерщика
                  li#menu-item-3.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-26
                    a(href='http://profkarniz.com/shop/rulonnye-shtory')
                      | Купить онлайн
                  li#menu-item-2.menu-item.menu-item-type-custom.menu-itsem-object-custom.menu-item-25
                    a(href='#contact')
                      | Контакты (Пермь)
          //- end_Nav_Bar }}}
          //- First_Glance {{{
          .home-header-wrap
            .header-content-wrap
              .container.big-title-container
                .row
                  .col-xs-12
                    h1.intro-text.white-text.white-glow
                      | Рулонные шторы в Перми
                      br
                      |от 499 руб.
                    .buttons
                      a.btn.btn-primary.custom-button.red-btn(href='#MeasureManModal',data-toggle='modal',data-target='#MeasureManModal')
                        | Заказать бесплатный замер
                      a.btn.btn-primary.custom-button.green-btn(href='#calculator')
                        | Рассчитать стоимость онлайн
            .clear
          //- end_First_Glance }}}
        #content.site-content.zerif-fp-site-content
          section#aboutus.about-us
            //- Advantages {{{
            .container
              //- Header Advantages {{{
              .row.section-header
                .col-lg-12.text-center
                  h2.section-heading.white-glow
                    | Наши преимущества
              //- end_Header Advantage }}}
            .container
              .advantages-list
                .row
                  //- Bullet_1 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.green-text.fa-gears.wow.bounceIn.text-primary.green-glow
                      h3
                        br
                        | Собственное производство
                      hr.green-text.green-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | Изготовим под заказ любых размеров и цветов - быстро, гибко, по демократичной цене
                      br
                      br
                  //- end_Bullet_1 Advantages }}}
                  //- Bullet_2 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.red-text.fa-arrows.wow.bounceIn.text-primary(data-wow-delay='.1s').red-glow
                      h3
                        br
                        | Бесплатный выезд на замеры
                      hr.red-text.red-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | Замерщик приедет в удобное время с каталогами, поможет сделать выбор и измерит окна
                      br
                  //- end_Bullet_2 Advantages }}}
                  //- Bullet_3 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.green-text.fa-tags.wow.bounceIn.text-primary.green-glow
                      h3
                        br
                        | Низкие цены, акции
                      hr.green-text.green-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | Нашли дешевле? Позвоните нам, мы сделаем скидку...
                        br
                        |...больше, чем конкуренты:)
                      br
                      br
                  //- end_Bullet_3 Advantages }}}
                .row
                  //- Bullet_4 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.red-text.fa-clock-o.wow.bounceIn.text-primary(data-wow-delay='.1s').red-glow
                      h3
                        br
                        | Быстрое время выполнения заказа
                      hr.red-text.red-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | За счет собственного производства, соберем рулонную штору по Вашим размерам за 1-2 дня
                      br
                      br
                  //- end_Bullet_4 Advantages }}}
                  //- Bullet_5 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.green-text.fa-thumbs-up.wow.bounceIn.text-primary(data-twow-delay='.1s').green-glow
                      h3
                        br
                        | Качественные комплектующие
                      hr.green-text.green-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | Мы искользуем комплектующие производства Польша и ткань Европейских марок
                      br
                      br
                  //- end_Bullet_5 Advantages }}}
                  //- Bullet_6 Advantages {{{
                  .col-xs-12.col-sm-4.col-md-4.text-center.white-glow-panel
                      i.fa.fa-4x.red-text.fa-university.wow.bounceIn.text-primary(data-wow-delay='.1s').red-glow
                      h3
                        br
                        | Гибкая система скидок для юр. лиц и дизайнеров
                      hr.red-text.red-bg(style="margin-bottom: 20px;")
                      h5.text-mutedish
                        | У Вас крупный заказ? Мы с радостью предложим особые условия сотрудничества.
                      br
                      br
                  //- end_Bullet_6 Advantages }}}
            //- end_Advantages }}}
          section#clients.our-clients
            //- Clients {{{
            .container.white-glow-panel
              //- Header Clients {{{
              .section-header.row
                .col-xs-12
                  h3.text-mutedish
                    | Наши клиенты
              //- end_Header Clients }}}
              .client-list(data-scrollreveal='enter right move 60px after 0.00s over 0.25s').row
                  //- Client_1 {{{
                  .col-sm-1
                  .col-xs-6.col-sm-2.clientIcon
                    span
                      img(src='./images/client_pnipu.png', alt='ПНИПУ')
                  //- end_Client_1 }}}
                  //- Client_2 {{{
                  .col-xs-6.col-sm-2.clientIcon
                    span
                      img(src='./images/client_megafon.png', alt='Мегафон')
                  //- end_Client_2 }}}
                  //- Client_3 {{{
                  .col-xs-6.col-sm-2.clientIcon
                    span
                      img(src='./images/client_alendvik.png', alt='Алендвик')
                  //- end_Client_3 }}}
                  //- Client_4 {{{
                  .col-xs-6.col-sm-2.clientIcon
                    span
                      img(src='./images/client_sber.png', alt='Сбербанк')
                  //- end_Client_4 }}}
                  //- Client_5 {{{
                  .col-xs-6.col-sm-2.clientIcon
                    span
                      img(src='./images/client_edro.png', alt='Единая Россия')
                  .col-sm-1
                  //- end_Client_5 }}}
            //- end_Clients }}}
          section#calculator.calculator
            //- Calculator {{{// {{{
            .container-fluid.green-transp-bg.center-block
              .row
                .col-xs-12.section-header
                  h2.white-text.dark-shadow
                    | Калькулятор
                  br
                  br
            .container-fluid#MountOptsSection.calculator
              //- Mount_Opts {{{// {{{
              .row#MountOptsRow
                .col-xs-12
                  h2.subsection-label
                    br
                    br
                    |  Выберите вариант крепления
                    hr.subsection-label
                    br
                  #tabs-433998.tabbable
                    ul.nav.nav-pills.nav-justified.row
                      //- Tabs Mount_Opts {{{// {{{
                      li.col-xs-12.active.col-sm-4#MntOneTab
                        a(href='#mountOne', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel.center-block.label-success
                              | На створки
                          span.misteriousGray
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='images/Mount1.png')
                      li.col-xs-12.col-sm-4#MntTwoTab
                        a(href='#mountTwo', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel.center-block.label-success
                              | В проем
                          span.misteriousGray
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='images/Mount2.png')
                      li.col-xs-12.col-sm-4#MntThreeTab
                        a(href='#mountThree', data-toggle='pill')
                          h2.text-center
                            span.label.label-pill.calcuLabel.center-block.label-success
                              | На проем
                          span.misteriousGray
                            img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='images/Mount3.png')
                      //- Tabs Mount_Opts }}}// }}}
                    .tab-content
                      #mountOne.tab-pane(role='tabpanel').active
                        //- Count_Panes {{{// {{{
                        br
                        br
                        br
                        .row
                          .col-xs-12
                            br
                            br
                            h2.subsection-label
                              hr.subsection-label
                              | Выберите число створок
                              hr.subsection-label
                        .btn-group(data-toggle="buttons")#winLenB
                          .row
                            .col-sm-3.col-xs-6
                              .btn.btn-default.btn-block.btn-lg.text-center.active#win1b
                                span.label.label-success.calcuLabel.center-block
                                  | Одна
                                span
                                  img.center-block.img-responsive.img-rounded(alt='', src='images/Single.png')
                                  .sr-only
                                    input#win1x(type="radio", name="winLen", value=1, autocomplete="off", checked="")
                            .col-sm-3.col-xs-6
                              .btn.btn-default.btn-block.btn-lg.text-centera#win2b
                                span.label.label-success.calcuLabel.center-block
                                  | Две
                                span
                                  img.center-block.img-responsive.img-rounded(alt='', src='images/Double.png')
                                  .sr-only
                                    input#win2x(type="radio", name="winLen", value=2, autocomplete="off")
                            .col-sm-3.col-xs-6
                              .btn.btn-default.btn-block.btn-lg.text-center#win3b
                                span.label.label-success.calcuLabel.center-block
                                  | Три
                                span
                                  img.center-block.img-responsive.img-rounded(alt='', src='images/Triple.png')
                                  .sr-only
                                    input#win3x(type="radio", name="winLen", value=3, autocomplete="off")
                            .col-sm-3.col-xs-6
                              .btn.btn-default.btn-block.btn-lg.text-center#win4b
                                span.label.label-success.calcuLabel.center-block
                                  | Четыре
                                span
                                  img.center-block.img-responsive.img-rounded(alt='', src='images/Quadro.png')
                                  .sr-only
                                    input#win4x(type="radio", name="winLen", value=4, autocomplete="off")
                        br
                        br
                        br
                        //- end_Count_Panes }}}// }}}
                      #mountTwo.tab-pane(role='tabpanel')
                        hr.white-text
                      #mountThree.tab-pane(role='tabpanel')
                        hr.white-text
              //- end_Mount_Opts }}}// }}}
            .container-fluid#MeasurePanesSection.calculator.showOnMnt1.showOnMnt2.showOnMnt3.showOn_SinglePane.showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane
              //- Measure_Panes {{{// {{{
              .row
                //- SubHeader Measure_Panes {{{// {{{
                .col-xs-12.subsection-label
                  br
                  br
                  h2.showOn_SinglePane
                    | Укажите размеры окна
                  h2.showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane
                    | Укажите размеры створок
                  h2.showOnMnt2.showOnMnt3
                    | Укажите размеры оконного проема
                  hr.white-glow
                //- end_SubHeader Meaure_Panes }}}// }}}
              .row
                //- Height {{{
                .col-xs-6.col-sm-3
                  .howto_advise
                    //- Picture_Text Height {{{
                    .showOn_SinglePane.layered_abomination
                      img.img-responsive(alt='how to measure height', src='images/measure_pane_h.png')
                      .clarifyingReminder
                        | Пожалуйста, введите высоту окна <b>по стеклу</b>.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    .showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.layered_abomination
                      img.img-responsive(alt='how to measure height', src='images/measure_pane_h.png')
                      .clarifyingReminder
                        | Пожалуйста, введите высоту каждой створки <b>по стеклу</b>.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    .showOnMnt2.showOnMnt3.layered_abomination
                      img.img-responsive(alt='how to measure height', src='images/measure_height.png')
                      .clarifyingReminder
                        | Пожалуйста, укажите высоту <b>проема</b> окна.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    //- end_Picture_Text Height }}}
                .col-xs-6.col-sm-3
                  .measurements_area
                    //- Height_1 {{{
                    .showOn_SinglePane.showOnMnt1.showOnMnt2.showOnMnt3.showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOnMnt2.showOnMnt3.panel-heading
                          h6 Высота проема
                      .showOn_SinglePane.panel-heading
                          h6 Высота окна
                      .showOn_DoublePane.showOn_TriplePane.panel-heading
                          h6 Высота левой створки
                      .showOn_QuadroPane.panel-heading
                          h6 Высота первой створки
                      .panel-body
                        .row
                          .col-xs-4
                            //- .showOn_SinglePane
                              span
                                img(src='images/1_1.png')
                            .showOn_DoublePane
                              span
                                img(src='images/2_1.png')
                            .showOn_TriplePane
                              span
                                img(src='images/3_1.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_1.png')

                          .col-xs-7
                              .input-group
                                input.form-control#height_1.height_1.wid_hei_input(type='number',name='height_1', value=1000, min=10, max=3000,aria-describedby='height_1_units_addon')
                                span.input-group-addon#height_1_units_addon
                                  | мм
                    //- end_Height_1 }}}
                    //- Height_2 {{{
                    .showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOn_DoublePane.panel-heading
                          h6 Высота правой створки
                      .showOn_TriplePane.panel-heading
                          h6 Высота центральной створки
                      .showOn_QuadroPane.panel-heading
                          h6 Высота второй створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_DoublePane
                              span
                                img(src='images/2_2.png')
                            .showOn_TriplePane
                              span
                                img(src='images/3_2.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_2.png')

                          .col-xs-7
                              .input-group
                                input.form-control#height_2.height_2.wid_hei_input(type='number',name='height_2', value=1000, min=10, max=3000,aria-describedby='height_2_units_addon')
                                span.input-group-addon#height_2_units_addon
                                  | мм
                    //- end_Height_2 }}}
                    //- Height_3 {{{
                    .showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOn_TriplePane.panel-heading
                          h6 Высота правой створки
                      .showOn_QuadroPane.panel-heading
                          h6 Высота третьей створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_TriplePane
                              span
                                img(src='images/3_3.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_3.png')

                          .col-xs-7
                              .input-group
                                input.form-control#height_3.height_3.wid_hei_input(type='number',name='height_3', value=1000, min=10, max=3000,aria-describedby='height_3_units_addon')
                                span.input-group-addon#height_3_units_addon
                                  | мм
                    //- end_Height_3 }}}
                    //- Height_4 {{{
                    .showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .panel-heading
                          h6 Высота четвертой створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_QuadroPane
                              span
                                img(src='images/4_4.png')

                          .col-xs-7
                              .input-group
                                input.form-control#height_4.height_4.wid_hei_input(type='number',name='height_4', value=1000, min=10, max=3000,aria-describedby='height_4_units_addon')
                                span.input-group-addon#height_4_units_addon
                                  | мм
                    //- end_Height_4 }}}
                //- end_Height }}}
                //- Width {{{
                .col-xs-6.col-sm-3
                  .howto_advise
                    //- Picture_Text Width {{{
                    .showOn_SinglePane.layered_abomination
                      img.img-responsive(alt='how to measure width', src='images/measure_pane_w.png')
                      .clarifyingReminder
                        | Пожалуйста, введите ширину окна <b>по стеклу</b>.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    .showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.layered_abomination
                      img.img-responsive(alt='how to measure width', src='images/measure_pane_w.png')
                      .clarifyingReminder
                        | Пожалуйста, введите ширину каждой створки <b>по стеклу</b>.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    .showOnMnt2.showOnMnt3.layered_abomination
                      img.img-responsive(alt='how to measure width', src='images/measure_width.png')
                      .clarifyingReminder
                        | Пожалуйста, укажите ширину <b>проема</b> окна.<br>
                        | Все дополнительные вычисления мы сделаем сами.
                    //- end_Picture_Text Width }}}
                .col-xs-6.col-sm-3
                  .measurements_area
                    //- Width_1 {{{
                    .showOn_SinglePane.showOnMnt1.showOnMnt2.showOnMnt3.showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOnMnt2.showOnMnt3.panel-heading
                          h6 Ширина проема
                      .showOn_SinglePane.panel-heading
                          h6 Ширина окна
                      .showOn_DoublePane.showOn_TriplePane.panel-heading
                          h6 Ширина левой створки
                      .showOn_QuadroPane.panel-heading
                          h6 Ширина первой створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_SinglePane
                              //- span
                                img(src='images/1_1.png')
                            .showOn_DoublePane
                              span
                                img(src='images/2_1.png')
                            .showOn_TriplePane
                              span
                                img(src='images/3_1.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_1.png')

                          .col-xs-7
                              .input-group
                                input.form-control#width_1.width_1.wid_hei_input(type='number',name='width_1', value=600, min=400, max=3000, aria-describedby='width_1_units_addon')
                                span.input-group-addon#width_1_units_addon
                                  | мм
                    //- end_Width_1 }}}




                    //- Width_2 {{{
                    .showOn_DoublePane.showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOn_DoublePane.panel-heading
                          h6 Ширина правой створки
                      .showOn_TriplePane.panel-heading
                          h6 Ширина центральной створки
                      .showOn_QuadroPane.panel-heading
                          h6 Ширина второй створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_DoublePane
                              span
                                img(src='images/2_2.png')
                            .showOn_TriplePane
                              span
                                img(src='images/3_2.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_2.png')

                          .col-xs-7
                              .input-group
                                input.form-control#width_2.width_2.wid_hei_input(type='number',name='width_2', value=600, min=400, max=3000, aria-describedby='width_2_units_addon')
                                span.input-group-addon#width_2_units_addon
                                  | мм
                      //- end_Width_2 }}}
                      //- Width_3 {{{
                     .showOn_TriplePane.showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .showOn_TriplePane.panel-heading
                          h6 Ширина правой створки
                      .showOn_QuadroPane.panel-heading
                          h6 Ширина третьей створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_TriplePane
                              span
                                img(src='images/3_3.png')
                            .showOn_QuadroPane
                              span
                                img(src='images/4_3.png')

                          .col-xs-7
                              .input-group
                                input.form-control#width_3.width_3.wid_hei_input(type='number',name='width_3', value=600, min=400, max=3000, aria-describedby='width_3_units_addon')
                                span.input-group-addon#width_3_units_addon
                                  | мм
                      //- end_Width_3 }}}
                      //- Width_4 {{{
                    .showOn_QuadroPane.panel.panel-success.measurements_panel.white-bg
                      .panel-heading
                          h6 Ширина четвертой створки
                      .panel-body
                        .row
                          .col-xs-4
                            .showOn_QuadroPane
                              span
                                img(src='images/4_4.png')

                          .col-xs-7
                              .input-group
                                input.form-control#width_4.width_4.wid_hei_input(type='number',name='width_4', value=600, min=400, max=3000, aria-describedby='width_4_units_addon')
                                span.input-group-addon#width_4_units_addon
                                  | мм
                    //- end_Width_4 }}}
                //- end_Width }}}
              //- end_Meaure_Panes }}}// }}}
          //- end_Calculator }}}// }}}
          //- PriceTable {{{
          .container#PriceTableSection
            .row
              //- SubHeader PriceTable {{{
              .col-xs-12
                br
                br
                h2.subsection-label
                  | Выберите тип рулонных штор и категорию ткани
                  hr.subsection-label
              //- end_SubHeader PriceTable }}}
            .row
              //- Column_Lite {{{
              .col-xs-12.col-sm-6.col-md-3.infos-box(data-scrollreveal='enter right after 0.5s over 1s')
                   .panel.panel-success.center-block
                      //- Lite_Header {{{
                      .panel-heading
                        h6
                          span.label.label-pill.label-success.center-block
                            | Лайт
                        span
                          img.center-block.img-responsive.img-circle.service-icon(alt='Lite_Picture', src='images/types1.png').
                        br
                        hr
                        p.typedetails
                          details
                            summary Показать описание...
                            | Недорогой вариант рулонных штор с пластиковым механизом и отвесом ПВХ, зашитым в ткань. В комплекте роллторы подъемный механизм, заглушки, кронштейны и зацепы на пластиковое окно. Длина регулируется с помощью цепи управления.  Управление — справа. Эти рулонные шторы можно
                            a(href='http://profkarniz.com/shop/rulonnye-shtory', target='_blank') купить онлайн без замеров
                            p.sizelimitations
                              | Ширина: 40 - 180 см
                              br
                              |  Длина: до 160 см
                        //- end_Lite_Header }}}
                      //- LitePricePanel {{{
                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 1:
                        h4.thePrice#PriceLite_1
                          | --
                        btn.btn-success.showFabricLink(alt="", href="PriceLite_1", data-toggle='modal', data-target='#ShowFabricModal_1') Показать ткани

                      .panel-body.pricePanel_2
                        h4.priceTagLabel2
                          | Категория 2:
                        h4.thePrice2#PriceLite_2
                          | --
                        btn.btn-default.showFabricLink2(alt="", href="PriceLite_2", data-toggle='modal', data-target='#ShowFabricModal_2') Показать ткани

                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 3:
                        h4.thePrice#PriceLite_3
                          | --
                        btn.btn-success.showFabricLink(alt="", href="PriceLite_3", data-toggle='modal', data-target='#ShowFabricModal_3') Показать ткани

                        //- end_Lite_Price PricePanel }}}
              //- end_Column_Lite }}}
              //- Column_Mini {{{
              .col-xs-12.col-sm-6.col-md-3.infos-box(data-scrollreveal='enter right after 0.5s over 1s')
                   .panel.panel-success.center-block
                      //- Mini_Header {{{
                      .panel-heading
                        h6
                          span.label.label-pill.label-success.center-block
                            | Мини
                        span
                          img.center-block.img-responsive.img-rounded.service-icon(alt='Mini_Picture', src='images/types2.png').
                        br
                        hr
                        p.typedetails
                          details
                            summary Показать описание...
                            | Роллшторы системы МИНИ в большинстве случаев крепятся на створку окна. Сверху механизм с трубой, на которую наматывается ткань, крепится на пластиковое окно с помощью специального двухстороннего скотча или пластмасовых кронштейнов. Внизу шторы — металлический отвес. Чтобы рулонная штора плотно прилегала к окну, используют магниты или леску.
                            p.sizelimitations
                              | Ширина: 40 - 140 см
                              br
                              |  Длина: 50 - 200 см
                      //- end_Mini_Header }}}
                      //- Mini_PricePanel {{{

                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 1:
                        h4.thePrice#PriceMini_1
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalOne') Показать ткани

                      .panel-body.pricePanel_2
                        h4.priceTagLabel2
                          | Категория 2:
                        h4.thePrice2#PriceMini_2
                          | --
                        btn.btn-default.showFabricLink2(alt="", data-toggle='modal', data-target='#ShowFabricModalTwo') Показать ткани

                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 3:
                        h4.thePrice#PriceMini_3
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalThree') Показать ткани

                        //- end_Mini_PricePanel }}}
              //- end_Column_Mini }}}
              //- Column_Uni {{{
              .col-xs-12.col-sm-6.col-md-3.infos-box(data-scrollreveal='enter right after 0.5s over 1s')
                   .panel.panel-success.center-block
                      //- Uni_Header {{{
                      .panel-heading
                        h6
                          span.label.label-pill.label-success.center-block
                            | Уни
                        span
                          img.center-block.img-responsive.img-rounded.service-icon(alt='Uni_Picture', src='images/types3.png').
                        br
                        hr
                        p.typedetails
                          details
                            summary Показать описание...
                            | Эта система также называется кассетной. Сверху на рулон крепится специальный металлический короб, который защищает ткань от пыли. Металлические направляющие плотно прилягают к окну, позволяя полностью защититься от солнца.  Выделяют две системы: Уни-1 и Уни-2 (в Уни-2 высота направляющих и короба больше).
                            p.sizelimitations
                              | Ширина: 40 - 140 см
                              br
                              |  Длина: 50 - 200 см
                      //- end_Uni_Header }}}
                      //- Uni_PricePanel {{{
                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 1:
                        h4.thePrice#PriceUni_1
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalOne') Показать ткани

                      .panel-body.pricePanel_2
                        h4.priceTagLabel2
                          | Категория 2:
                        h4.thePrice2#PriceUni_2
                          | --
                        btn.btn-default.showFabricLink2(alt="", data-toggle='modal', data-target='#ShowFabricModalTwo') Показать ткани

                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 3:
                        h4.thePrice#PriceUni_3
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalThree') Показать ткани

                        //- end_Uni_PricePanel }}}
              //- end_Column_Uni }}}
              //- Column_Lux {{{
              .col-xs-12.col-sm-6.col-md-3.infos-box(data-scrollreveal='enter right after 0.5s over 1s')
                   .panel.panel-success.center-block
                      //- Lux_Header {{{
                      .panel-heading
                        h6
                          span.label.label-pill.label-success.center-block
                            | Люкс
                        span
                          img.center-block.img-responsive.img-rounded.service-icon(alt='', src='images/types4.png').
                        br
                        hr
                        p.typedetails
                          details
                            summary Показать описание...
                            | Эта система похожа на Мини, но ширина и длина Люкса может достигать 3-х метров. Такие рулонные шторы иногда еще называются классическими. Обычно крепятся на проем или в проем окна. Кроме того, на эту систему возможно установить моторизацию (электрический привод с пультом), позволяя автоматически регулировать длину шторы на окне.
                            p.sizelimitations
                              | Ширина: 50 - 300 см
                              br
                              |  Длина: 100 - 300 см
                      //- end_Lux_Header }}}
                      //- Lux_PricePanel {{{
                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 1:
                        h4.thePrice#PriceLux_1
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalOne') Показать ткани

                      .panel-body.pricePanel_2
                        h4.priceTagLabel2
                          | Категория 2:
                        h4.thePrice2#PriceLux_2
                          | --
                        btn.btn-default.showFabricLink2(alt="", data-toggle='modal', data-target='#ShowFabricModalTwo') Показать ткани

                      .panel-body.pricePanel_3
                        h4.priceTagLabel
                          | Категория 3:
                        h4.thePrice#PriceLux_3
                          | --
                        btn.btn-success.showFabricLink(alt="", data-toggle='modal', data-target='#ShowFabricModalThree') Показать ткани

                        //- end_Lux_PricePanel }}}
              //- end_Column_Lux }}}

            //- end_PriceTable }}}
          // section#team.our-team
            //- How_We_Work (OFF) {{{
              .container
                .section-header
                  h2.dark-text.red-border-bottom
                    | Как мы работаем?
                  h6
                    | Быстро, качественно, индивидуально
                  .row
                    hr.primary
                  .row
                    .col-lg-4.col-sm-4.team-member
                      .newshit
                        a(target='_self', href='./')
                          i.fa.fa-arrows.fa-4x
                          h5 Бесплатный выезд на замер.
                      // p Замерщик приедет к Вам домой с каталогами ткани для рулонных штор в удобное для Вас время
                    .col-lg-4.col-sm-4.team-member
                      .newshit
                        a(target='_self', href='./')
                          i.fa.fa-clock-o.fa-4x
                          h5 Производство 1-2 дня.
                      // p Мы изготовим рулонные шторы по Вашим размерам.
                    .col-lg-4.col-sm-4.team-member
                      .newshit
                        a(target='_self', href='./')
                          i.fa.fa-thumbs-up.fa-4x
                          h5 Профессиональный монтаж
                      // p Профессиональный работник установит рулонные шторы за 300 руб./изделие
              //- end_How_We_Work }}}
          section#Portfolio.white-bg
            //- Portfolio {{{
            .container
              //- Header Portfolio {{{
              .section-header
                h2.dark-text
                  | Наше портфолио
                hr.dark-text
                br
              //- end_Header Portfolio }}}
            .container-fluid.center-block
              //- Pictures Portfolio {{{
              .row
                //- Picture_1 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/1.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          |...
                //- end_Picture_1 }}}
                //- Picture_2 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/2.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | Рулонные шторы Уни с фотопечатью
                //- end_Picture_2 }}}
                //- Picture_3 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/3.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | Рулонные шторы Уни с фотопечатью
                //- end_Picture_3 }}}
                //- Picture_4 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/4.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | Рулонные шторы Мини на створки
                //- end_Picture_4 }}}
                //- Picture_5 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/5.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | Рулонная штора Люкс в оконный проем
                //- end_Picture_5 }}}
                //- Picture_6 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/6.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | Рулонная штора Уни Зебра
                //- end_Picture_6 }}}
                //- Picture_7 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/7.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | TODO
                //- end_Picture_7 }}}
                //- Picture_8 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/8.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | TODO
                //- end_Picture_8 }}}
                //- Picture_9 {{{
                .col-lg-4.col-sm-6.portfolio-box.thumbnail.text-center
                    img.img-rounded.img-responsive(src='images/portfolio/9.jpg', alt='')
                    h5.portfolio-box-caption
                      .portfolio-box-caption-content
                          | TODO
                //- end_Picture_9 }}}
              //- end_Pictures Portfolio }}}
            //- end_Portfolio }}}
          section#pricingtable.packages
            //- PricingTables {{{
            .container
              .section-header
                h2.white-text
                  | Закажите замеры
              .row
                .package-box-wrap.col-lg-6.col-md-6.col-sm-12
                  .best-value
                    .package(data-scrollreveal='enter left after 0s over 1s')
                      .package-header(style='background:#db5959')
                        h4 В удобное для Вас время
                        .meta-text 
                      .price.dark-bg
                        .price-container
                          h4 бесплатно
                      ul
                        li Покажет каталоги тканей
                        li Посоветует тип рулонной шторы
                        li Измерит окна
                        li Расчитает точную стоимость
                      a.btn.btn-primary.custom-button(href='',data-toggle='modal', data-target='#MeasureManModal', style='background:#db5959') Заказать

              //- {{{
                .package-box-wrap.col-lg-6.col-md-6.col-sm-12
                  .best-value
                    .package(data-scrollreveal='enter left after 0s over 1s')
                      .package-header(style='background:#43db5a')
                        .meta-text В удобное для Вас время
                      .price.dark-bg
                        .price-container
                          h4 от 300 руб.
                          span.price-meta
                            | /изделие
                      ul
                        a.btn.btn-primary.custom-button(href='http://profkarniz.com/index/0-5', style='background:#43db5a')
                          |
                //- }}}
            //- end_PricingTables }}}
          section#ribbon_right.purchase-now
            //- Purchase_Ribbon {{{
            .container
              .row
                .col-md-2
                .col-md-7.zerif-rtl-ribbon-text(data-scrollreveal='enter left after 0s over 1s')
                  h3.black-text
                    |       Выбрать готовые рулонные шторы онлайн от 499 руб.
                .col-md-3.zerif-rtl-ribbon-btn(data-scrollreveal='enter right after 0s over 1s')
                  a.btn.btn-primary.custom-button.red-btn(href='http://profkarniz.com/shop/rulonnye-shtory') Купить онлайн
            //- end_Purchase_Ribbon }}}
          section#testimonials.testimonial
            //- Testimonials {{{
            .container
              .section-header
                h2.white-text
                  | Отзывы о нашей работе
                h6.white-text
                  | Из Яндекс Маркета
              .row(data-scrollreveal='enter right after 0s over 1s')
                .col-md-12
                  #client-feedbacks.owl-carousel.owl-theme
                    aside#zerif_testim-widget-1.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Убедилась, как удобно заказать и получить услугу по интернету. Онлайн выбрала ткань, механизм рулонных штор, вызвала замерщика. Так оформила 5 окон. Особенно чудесно смотрится на солнечной стороне оранжевая немецкая ткань (проницаемость 86%). Всем советую!
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Лобашкова Ирина
                            .client-company
                          .client-image.hidden-xs
                            img(src='images/dude1.jpg', alt='')
                        // / END CLIENT INFORMATION
                      // / END SINGLE FEEDBACK BOX
                    aside#zerif_testim-widget-2.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Очень хорошая организация сайта магазина, тщательное сопровождение заказа на всех этапах, соблюдение сроков изготовления и установки, вежливые, приятные сотрудники.
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Анастасия
                            .client-company
                          .client-image.hidden-xs
                            img(src='images/dude2.jpg', alt='')
                        // / END CLIENT INFORMATION
                      // / END SINGLE FEEDBACK BOX
                    aside#zerif_testim-widget-3.widget.zerif_testim
                      .feedback-box
                        // MESSAGE OF THE CLIENT
                        .message
                          | Заказывал рулонные шторы в офис. Замерщик прибыл точно в срок с каталогами. Вместе с ним просчитали несколько вариантов стоимости заказа, в зависимости от категории тканей и механизмов. Через назначенные сроки все было установлено.
                        // CLIENT INFORMATION
                        .client
                          .quote.red-text
                            i.fa.fa-quote-left
                          .client-info
                            a.client-name(target='_blank') Александр
                            .client-company
                          .client-image.hidden-xs
                            img(src='images/dude3.jpg', alt='')
            //- end_Testimonials }}}
          section#contact.contact-us
            //- Call_Us {{{
            .container.color-overlay
              .section-header
                h2.white-text Остались вопросы?
                br
                br
                h6(style='font-size:36px').white-text.muted Позвоните нам!
                br
                h6(style='font-size:38px').white-glow-alot
                  i.fa.fa-phone.green-text
                  |    +7 (960) 524-18-78
                  br
                  i.fa.fa-phone.green-text
                  |    +7 (908) 278-19-07
                  br
            //- end_Call_Us }}}
          section#GetConsulted.separator-one
            //- Order_Consult {{{
            .color-overlay


            .container
              h3(data-scrollreveal='enter left after 0s over 1s')
                | Или оставьте заявку на консультацию
                | (она ни к чему Вас не обязывает)
              br
              form#GetConsultedForm(role='form', action="https://formspree.io/info@profkarniz.com", method='POST')
                .row.center-block
                  .col-xs-2
                  .col-xs-8.panel-body.center-block.panel.panel-success 
                    br
                    .sr-only.form-group
                      input(type='hidden',name='_subject',value='Want_to_Get_a_Call')
                      input(type='hidden',name='_next',value='#OnSubmitModal')
                    .form-group
                      label(for='clientName')
                        | Имя
                      input#clientName.form-control(name='clientName', type='text', placeholder='Как к Вам обращаться?')
                    br
                    .form-group
                      label(for='thePhoneNumber')
                        | Телефонный номер
                      input#thePhoneNumber.form-control(name='thePhoneNumber', type='tel',pattern='.*', placeholder='9876543210')
                    br
                    br
                    .form-group(style='padding-top:0;padding-bottom:0;')
                      input.form-control(type='submit', value='Заказать')
                    br
                  .col-xs-2
              
            
            
            
            
            
            //- end_Order_Consult }}}
          section#Map
            //- Map {{{
            .container-fluid
                  iframe.scrolloff.zerif_google_map#MapIframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1057.0842766513183!2d56.22301686146444!3d58.00191407572968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x2804971caf167dd3!2z0J_RgNC-0YTQmtCw0YDQvdC40Lc!5e0!3m2!1sen!2sus!4v1457709856623', width='600', height='450', frameborder='0', style='border:0', allowfullscreen='')
            //- end_Map }}}
        footer#footer(role='contentinfo', itemscope='itemscope', itemtype='http://schema.org/WPFooter')
          //- Footer {{{
          .container
            .footer-box-wrap
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.red-text
                  i.fa.fa-map-marker.fa-lg
                | Компания ПрофКарниз
                br
                | Пермь, Пушкина 104 лит АБ
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.green-text
                  i.fa.fa-envelope.fa-lg
                a(href='mailto:info@profkarniz.com') info@profkarniz.com
              .col-md-3.footer-box.four-cell.company-details
                .icon-top.green-text
                    i.fa.fa-phone.fa-lg
                a(href='tel:+79605241878')
                  | +7 (960) 524-18-78
                  br
              .col-md-3.footer-box.four-cell.copyright
                p
                  | ©ПрофКарниз
                  br
                  |  ИП Новиков Алексей Олегович
          //- end_Footer }}}
      // Links after page {{{
      link(href='./css/outline.css', type='text/css', media='all')
      script(src='js/jquery.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/zerif.js?ver=20120206')
      script(src='js/scripts.js')
      script(src='js/accounting.js')
      script(src='js/reklk.js')
      // .zerif-mobile-bg-helper-content
      // .zerif-mobile-bg-helper-wrap-all
      // }}}
      //- Modals {{{
      //- GetACallModal {{{
      .modal#GetACallModal.fade(tabindex='-1', role='dialog', aria-labelledby='GetACallModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            // Modal Header
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#GetACallModalLabel.modal-title
                  | Заказать звонок
            // Modal Body
            .modal-body
              form#GetACallForm(role='form', action="https://formspree.io/info@profkarniz.com", method='POST')
                .sr-only.form-group
                  input(type='hidden',name='_subject',value='Want_to_Get_a_Call')
                  input(type='hidden',name='_next',value='#OnSubmitModal')
                .form-group
                  label(for='clientName')
                    | Имя
                  input#clientName.form-control(name='clientName', type='text', placeholder='Как к Вам обращаться?')
                br
                .form-group
                  label(for='thePhoneNumber')
                    | Телефонный номер
                  input#thePhoneNumber.form-control(name='thePhoneNumber', type='tel',pattern='.*', placeholder='9876543210')
                br
                br
                .form-group(style='padding-top:0;padding-bottom:0;')
                  input.form-control(type='submit', value='Заказать')
              //button.btn.btn-danger(type='button')
                | Save changes
      //- end_GetACallModal }}}
      //- MeasureManModal {{{
      .modal#MeasureManModal.fade(tabindex='-1', role='dialog', aria-labelledby='MeasureManModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            // Modal Header
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#MeasureManModalLabel.modal-title
                  | Вызвать замерщика
            // Modal Body
            .modal-body
              form#MeasureManForm(role='form', action="https://formspree.io/info@profkarniz.com", method='POST')
                .sr-only.form-group
                  input(type='hidden',name='_subject',value='Waiting_for_Measure_Man')
                  input(type='hidden',name='_next',value='#OnSubmitModal')
                .form-group
                  label(for='clientName')
                    | Имя
                  input#clientName.form-control(name='clientName', type='text', placeholder='Как к Вам обращаться?')
                br
                .form-group
                  label(for='thePhoneNumber')
                    | Телефонный номер
                  input#thePhoneNumber.form-control(name='thePhoneNumber', type='tel',pattern='.*', placeholder='9876543210')
                br
                .form-group
                  label(for='theEmail')
                    | Email
                  input#theEmail.form-control(name='theEmail', type='email',pattern='', placeholder='your@mail.com')
                br
                .form-group(style='padding-top:0;padding-bottom:0;')
                  input.form-control(type='submit', value='Вызвать')
      //- end_MeasureManModal }}}
      //- ShowFabricModal {{{
      .modal.showFabricModal#ShowFabricModal_1.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabel_1', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabel_1.modal-title
                  | Категория 1
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_1')
                    img(src='images/fabric/1/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_2')
                    img(src='images/fabric/1/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_3')
                    img(src='images/fabric/1/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_4')
                    img(src='images/fabric/1/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_5')
                    img(src='images/fabric/1/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_6')
                    img(src='images/fabric/1/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_7')
                    img(src='images/fabric/1/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_1_8')
                    img(src='images/fabric/1/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}
      .modal.showFabricModal#ShowFabricModal_2.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabel_2', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabel_2.modal-title
                  | Категория 2
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_1')
                    img(src='images/fabric/2/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_2')
                    img(src='images/fabric/2/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_3')
                    img(src='images/fabric/2/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_4')
                    img(src='images/fabric/2/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_5')
                    img(src='images/fabric/2/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_6')
                    img(src='images/fabric/2/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_7')
                    img(src='images/fabric/2/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_2_8')
                    img(src='images/fabric/2/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}
      .modal.showFabricModal#ShowFabricModal_3.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabel_3', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabel_3.modal-title
                  | Категория 3
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_1')
                    img(src='images/fabric/3/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_2')
                    img(src='images/fabric/3/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_3')
                    img(src='images/fabric/3/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_4')
                    img(src='images/fabric/3/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_5')
                    img(src='images/fabric/3/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_6')
                    img(src='images/fabric/3/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_7')
                    img(src='images/fabric/3/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_3_8')
                    img(src='images/fabric/3/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}
      .modal.showFabricModal#ShowFabricModalOne.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabelOne', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabelOne.modal-title
                  | Категория 1
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_1')
                    img(src='images/fabric/4/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_2')
                    img(src='images/fabric/4/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_3')
                    img(src='images/fabric/4/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_4')
                    img(src='images/fabric/4/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_5')
                    img(src='images/fabric/4/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_6')
                    img(src='images/fabric/4/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_7')
                    img(src='images/fabric/4/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_4_8')
                    img(src='images/fabric/4/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}
      .modal.showFabricModal#ShowFabricModalTwo.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabelTwo', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabelTwo.modal-title
                  | Категория 2
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_1')
                    img(src='images/fabric/5/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_2')
                    img(src='images/fabric/5/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_3')
                    img(src='images/fabric/5/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_4')
                    img(src='images/fabric/5/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_5')
                    img(src='images/fabric/5/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_6')
                    img(src='images/fabric/5/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_7')
                    img(src='images/fabric/5/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_5_8')
                    img(src='images/fabric/5/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}
      .modal.showFabricModal#ShowFabricModalThree.fade(tabindex='-1', role='dialog', aria-labelledby='ShowFabricModalLabelThree', aria-hidden='true')
        .modal-dialog
          .modal-content
            //- Header ShowFabric {{{
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    i.fa.fa-lg.fa-times
                h4#ShowFabricModalLabelThree.modal-title
                  | Категория 3
            //- end_Header ShowFabric }}}
            //- Body ShowFabric {{{
            .modal-body.container.clearfix
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_1')
                    img(src='images/fabric/6/1.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_2')
                    img(src='images/fabric/6/2.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_3')
                    img(src='images/fabric/6/3.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_4')
                    img(src='images/fabric/6/4.jpg')
                    .caption
                      p RandomTestCaption
              .row.clearfix
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_5')
                    img(src='images/fabric/6/5.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_6')
                    img(src='images/fabric/6/6.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_7')
                    img(src='images/fabric/6/7.jpg')
                    .caption
                      p RandomTestCaption
                .col-xs-3.clearfix
                  a.thumbnail(href='#MoarFabric_6_8')
                    img(src='images/fabric/6/8.jpg')
                    .caption
                      p RandomTestCaption
            //- end_Body ShowFabric }}}
      //- end_ShowFabricModal }}}
      //- end_Modals }}}

// vim:foldmethod=marker:foldlevel=0:nowrap:textwidth=9999
