doctype html
html(lang='ru-RU')
  head
    // {{{
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Calculate!
    meta(name='description', content='profkarniz quote generator')
    meta(name='author', content='Nick (none23) Anisimov')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    script(src='./js/jquery.js?ver=1.11.3')
    script(src='./js/jquery-migrate.min.js?ver=1.11.3')
    // }}}
  body
    // wT
    .container-fluid

      .row
        .col-xs-12
          h1
            | 1.
          h3
            |  Выберите вариант крепления
            br
            br
          #tabs-433998.tabbable
            ul.nav.nav-pills.nav-justified.row

                  li.active.col-xs-4
                    a(href='#mountOne', data-toggle='pill') 
                      h2.text-center
                        span.label.label-pill.label-success
                          | На створки
                      span
                        img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')
                      
                  li.col-xs-4
                    a(href='#mountTwo', data-toggle='pill')
                      h2.text-center
                        span.label.label-pill.label-success
                          | В проем 
                      span
                        img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')

                  li.col-xs-4
                    a(href='#mountThree', data-toggle='pill')
                      h2.text-center
                        span.label.label-pill.label-success
                          | На проем 
                      span
                        img.img-fluid.center-block.text-center.img-responsive.img-rounded(alt='', src='http://lorempixel.com/800/450/')

          
          
          
              
            //=======================================================================================================================================================================================
            .tab-content
              #mountOne.tab-pane(role='tabpanel').active
                br
                br
                br
                .row
                  .col-xs-12
                    h3
                      | Выберите число створок
                
                .btn-group(data-toggle="buttons")#winLenB
                  .row
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center.active#win1b
                        span.label.label-default
                          | Одна
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#win1x(type="radio", name="winLen", value=1, autocomplete="off", checked="")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-centera#win2b
                        span.label.label-default
                          | Две
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#win2x(type="radio", name="winLen", value=2, autocomplete="off")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center#win3b
                        span.label.label-default
                          | Три
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#win3x(type="radio", name="winLen", value=3, autocomplete="off")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center#win4b
                        span.label.label-default
                          | TODO 
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#win4x(type="radio", name="winLen", value=4, autocomplete="off")
                br
                br
                br
                //=======================================================================================================================================================================================
                .row
                  .col-xs-12
                    h3
                      | Укажите высоту и ширину створок
                      
                .row
                  .col-xs-12.col-sm-6
                    h6.winMeasureLabel
                      | Высота: 
                    br
                    span
                      img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                    br
                    .panel.panel-default#winHeight
                      .panel-body
                        h6.winMeasureLabel 
                          | Высота окна
                        .input-group
                          span.input-group-addon 
                            span.fa-stack.fa-fw
                              i.fa.fa-square.fa-stack-2x
                              i.fa.fa-fw.fa-arrows-v.fa-stack-1x.fa-inverse
                          span.input-group-lg
                            input.form-control#height(type='text', placeholder='180')
                          span.input-group-addon 
                            | мм 

                    
                  .col-xs-12.col-sm-6
                    h6.winMeasureLabel
                      | Ширина:
                    br
                    span
                      img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                    br
                    .panel.panel-default.winWidth-panel.winWidth1-panel#winWidth1
                      .panel-body
                        h6.winMeasureLabel
                          | Ширина окна
                        .input-group
                          span.input-group-addon
                            .fa-winPane1 
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 

                    .panel.panel-default.winWidth-panel.winWidth2-panel#winWidth2
                      .panel-body
                        h6.winMeasureLabel
                          | Ширина левой створки:
                        .input-group
                          span.input-group-addon
                            .fa-winPane2  
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 
                        br
                        h6.winMeasureLabel
                          | Ширина правой створки:
                        .input-group
                          span.input-group-addon
                            .fa-winPane2  
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 

                    .panel.panel-default.winWidth-panel.winWidth3-panel#winWidth3
                      .panel-body
                        
                        h6.winMeasureLabel 
                          | Ширина левой створки:
                        .input-group
                          span.input-group-addon
                            .fa-winPane3  
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 
                            
                        br
                        h6.winMeasureLabel 
                          | Ширина центральной створки:
                        .input-group
                          span.input-group-addon
                            .fa-winPane3  
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 
                            
                        br
                        h6.winMeasureLabel 
                          | Ширина правой створки:
                        .input-group
                          span.input-group-addon
                            .fa-winPane3  
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                              span.fa-stack.fa-fw
                                i.fa.fa-square-o.fa-stack-2x
                              span.fa-stack.fa-fw
                                i.fa.fa-square.fa-stack-2x
                                i.fa.fa-arrows-h.fa-stack-1x.fa-inverse
                          span.input-group-lg
                            input.form-control#width1(type='text', placeholder='120')
                          span.input-group-addon 
                            | мм 








                  
              #mountTwo.tab-pane(role='tabpanel')
                br
                br
                br
                .row
                  .col-xs-12
                    h3
                      | Укажите ширину и высоту оконного проема
                    h6
                      | Ширина проема:
                    br
                    .input-group.input-group-lg
                      span.input-group-addon 
                        i.fa.fa-fw.fa-arrows-h
                      input.form-control#WbW(type='text', placeholder='120')
                      span.input-group-addon 
                        | мм 
                    h6
                      | Высота проема
                    br
                    .input-group.input-group-lg
                      span.input-group-addon 
                        i.fa.fa-fw.fa-arrows-v
                      input.form-control#WbH(type='text', placeholder='180')
                      span.input-group-addon 
                        | мм 



              #mountThree.tab-pane(role='tabpanel')
                br
                br
                br
                .row
                  .col-xs-12
                    h3
                      | Укажите ширину и высоту оконного проема
                    h6
                      | Ширина проема:
                    br
                    .input-group.input-group-lg
                      span.input-group-addon 
                        i.fa.fa-fw.fa-arrows-h
                      input.form-control#WbW(type='text', placeholder='120')
                      span.input-group-addon 
                        | мм 
                    h6
                      | Высота проема
                    br
                    .input-group.input-group-lg
                      span.input-group-addon 
                        i.fa.fa-fw.fa-arrows-v
                      input.form-control#WbH(type='text', placeholder='180')
                      span.input-group-addon 
                        | мм 




    script(src='js/jquery.min.js')
    script(src='js/scripts.js')
    script(src='js/bootstrap.min.js')

//vim:nowrap:foldmethod=marker:foldlevel=0
