doctype html
html(lang='ru-RU')
  head
    // {{{
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Calculate!
    meta(name='description', content='profkarniz quote generator')
    meta(name='author', content='Nick (none23) Anisimov')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
    // }}}
  body
    // wT
    .container
      .row
        .col-md-12
          h3
            | Выберите вариант крепления
          #tabs-433998.tabbable
            ul.nav.nav-pills.nav-justified.row

                  li.active.col-xs-12.col-sm-6
                    a(href='#panel140934', data-toggle='tab') 
                      h2.text-center
                        span.label.label-pill.label-success
                          | На створки
                      img.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/')
                      
                  li.col-xs-12.col-sm-6
                    a(href='#panel917149', data-toggle='tab')
                      h2.text-center
                        span.label.label-pill.label-success
                          | В проем 
                      img.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/')

          
          
          
              
            .tab-content
              #panel140934.tab-pane(role='tabpanel').active
                h3
                  | h3. Lorem ipsum dolor sit amet.
                
                //// WiT
                //// {{{
                //
                //.btn-group(data-toggle="buttons")
                //  .row
                //    .col-xs-3
                //      .btn.btn-default.btn-block.btn-lg.text-center
                //        span.label.label-default
                //          | Лайт
                //        span  
                //          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                //          .sr-only
                //            input#WiTl(type="radio", name="WiT", autocomplete="off")
                //      
                //    .col-xs-3
                //      .btn.btn-default.btn-block.btn-lg.text-center
                //        span.label.label-default
                //          | Мини
                //        span  
                //          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                //          .sr-only
                //            input#WiTm(type="radio", name="WiT", autocomplete="off")
                //      
                //    .col-xs-3
                //      .btn.btn-default.btn-block.btn-lg.text-center
                //        span.label.label-default
                //          | Уни 
                //        span  
                //          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                //          .sr-only
                //            input#WiTu(type="radio", name="WiT", autocomplete="off")
                //      
                //    .col-xs-3
                //      .btn.btn-default.btn-block.btn-lg.text-center
                //        span.label.label-default
                //          | Люкс 
                //        span  
                //          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                //          .sr-only
                //            input#WiTe(type="radio", name="WiT", autocomplete="off")
                //    
                //// }}}    

                ////  WiN
                // {{{
                
                .btn-group(data-toggle="buttons")
                  .row
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center
                        span.label.label-default
                          | Лайт
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#WiN1(type="radio", name="WiN", autocomplete="off", checked="")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center
                        span.label.label-default
                          | Мини
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#WiN2(type="radio", name="WiN", autocomplete="off")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center
                        span.label.label-default
                          | Уни 
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#WiN3(type="radio", name="WiN", autocomplete="off")
                      
                    .col-xs-3
                      .btn.btn-default.btn-block.btn-lg.text-center
                        span.label.label-default
                          | Люкс 
                        span  
                          img.center-block.img-responsive.img-rounded(alt='', src='http://lorempixel.com/400/300/').
                          .sr-only
                            input#WiN4(type="radio", name="WiN", autocomplete="off")
                    
                // }}}    
                  
                // WiM
                // {{{
                  .container-fluid
                // }}}
                  
              #panel917149.tab-pane(role='tabpanel')
                p
                  | Howdy, I'm in Section 2.
    script(src='js/jquery.min.js')
    script(src='js/scripts.js')
    script(src='js/bootstrap.min.js')

//vim:nowrap:foldmethod=marker:foldlevel=0
